<form class="modal-content" action="/Dashboard/editPage" method="POST" enctype="multipart/form-data">
    <div class="container">
        
        <br>
        {{#if succUpdated}}
            <h2>Your package has been successfully updated!</h2>
        {{/if}}

        <input type="hidden" placeholder="Enter Title" name="title" value="{{information.titleholder}}">

        <label for="picture"><b>Photo</b></label>
        <input type="file" name="picture">

        <div class="errors">{{imgError}}</div>

        <label for="category"><b>Category</b></label>
        <input type="text" placeholder="Enter Category" name="category" value="{{information.category}}">

        <div class="errors">{{catError}}</div>

        <label for="price"><b>Price</b></label>
        <input type="text" placeholder="Enter Price" name="price" value="{{information.price}}">

        <div class="errors">{{priceError}}</div>

        <label for="meals"><b>Number of Meals</b></label>
        <input type="number" placeholder="Enter Number of Meals" name="meals" value="{{information.meals}}">

        <div class="errors">{{nmealsError}}</div>

        <label for="description"><b>Description</b></label>
        <input type="text" placeholder="Enter Description" name="description" value="{{information.description}}">

        <div class="errors">{{descError}}</div>

        <label for="top"><b>Is it a top meal?</b></label>
        <input type="checkbox" name="top" value="true"> <b>yes</b>

        <div class="errors"></div>

        <button type="submit">Edit Meal</button>

    </div>

</form>


 <button onclick="location.href='/Dashboard/DataClerk'" type="button" class="addbtn">Previous Page</button>